/* SEZIONE A */

.colorblue{
    background-color: blue;
}

/* SEZIONE B */

.jumbo{
    min-height: 500px;
}

.colorgreen{
    background-color: green;
}

.colorwhite{
    background-color: white;
}

.colorgrey{
    background-color: grey;
}

/* SEZIONE C */

.elementD1{
    min-height: 120px;
    background-color: brown;
}

.elementD2{
    min-height: 160px;
    border: 1px solid white;
}

/* SEZIONE D */

.aboutH{
    min-height: 300px;
}

.aboutH2{
    min-height: 250px;
}

.bc_border{
    border: 1px solid white;
}
